*{
    margin: 0px;
    padding: 0px;
}
@font-face {
  font-family: myFirstFont;
  src: url(DINNextLTArabic-Regular-2.ttf);
}
@font-face {
  font-family: myFirstFontlight;
  src: url(DINNextLTArabic-UltraLight-1.ttf);
}

body {
    
font-family: myFirstFont;   
  background-color: #f7f7f7;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1500px 600px;
  position: relative;
}
   
 p{font-family: myFirstFontlight;}
h3 {font-family: myFirstFont;}
h1 {font-family: myFirstFont;}
b{font-family: myFirstFont;}

.bgimage{
  background-color: white
    background-size:100x 100x;
    width: 100x;
    height: 100vh;
       
}
.minu{
    width: 100x;
    height: 50px;
    background-color:goldenrod
}
.Leftminu{
 
    width: 60x;
    line-height: 90px;
    float:right
  font-size: 100px;
     font-family: Sans-serif;
 
   

}

